* {
    -webkit-print-color-adjust: exact !important;
    /* Chrome, Safari 6 – 15.3, Edge */
    color-adjust: exact !important;
    /* Firefox 48 – 96 */
    print-color-adjust: exact !important;
    /* Firefox 97+, Safari 15.4+ */
    margin: 0%;
}


/* Default styles */
body {
    background-image: linear-gradient(rgb(58, 168, 223), rgb(49, 83, 196));
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* Background for screen */
}

/* Styles for printing */
@media print {

    /* Reset the body background for print */
    body {
        background-color: rgb(0, 0, 0);
        /* Or transparent if you want no background */
    }

    /* Styles for #Certificate */


    /* Optional: Hide any elements you don't want to appear in print */
    .no-print {
        display: none;
    }
}

#Certificate {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    /* background-color: aqua; */
    color: rgb(0, 0, 0);
    width: 100vw;
    height: 772.73;
    justify-content: center;
}

#Give {
    position: absolute;
    transform: translate(-313px, 642px);
}

#Time {
    position: absolute;
    transform: translate(0px, 642px);
}

#Take {
    position: absolute;
    transform: translate(313px, 642px);
}

#Certificate>img {
    /* position: absolute; */
    width: 1000px;
    height: 772.73;
}

#settings {
    display: flex;
    justify-content: center;
}

input {
    border-radius: 8px;
    border-width: 3px;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 5px;
    border-style: solid;
    padding: 2px;
    border-color: rgb(11, 166, 255);
    background-color: rgb(26, 201, 249);
    transition-duration: 0.1s;
    color: black;
}

input:hover {
    border-color: rgb(12, 127, 194);
    background-color: rgb(19, 149, 184);
}

input:active {
    border-color: rgb(9, 89, 135);
    background-color: rgb(14, 106, 131);
}

input::placeholder {
    color: black;
    font-style: italic;
}